{% extends 'layout.html.twig' %}

{% block title %}admin oeuvre{% endblock %}

{% block content %}
<div class="w-100 mb-5">
    <h1>Administration des oeuvres</h1>
    <hr class="w100"/>
</div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">nom</th>
            <th scope="col">description</th>
            <th scope="col">type</th>
        </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td >{{ oeuvre.name }}</td>
                <td >{{ oeuvre.description }}</td>
                <td >{{ oeuvre.type.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}