<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('Blog_accueil') }}">accueil</a>
    <div id="navbarNav">
        <a class="nav-link" style="display: inline-block" href="{{ url('Blog_index') }}">Mes oeuvres</a>
        <a class="nav-link" style="display: inline-block" href="{{ url('blog_peinture') }}">Mes peintures</a>
        <a class="nav-link" style="display: inline-block" href="{{ url('blog_sculpture') }}">Mes sculptures</a>
        <a class="nav-link" style="display: inline-block" href="{{ url('blog_dessin') }}">Mes dessins</a>
		<a href="{{ url('blog_expo') }}" style="display: inline-block">Expositions</a>
    </div>
</nav>











